* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #E08445;
}

.wrapper {
    width: 1290px;
    height: 730px;
    cursor: url("./assets/cursor.png") 25 15, auto;
}

.gui {
    width: 1290px;
    height: 150px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    color: #0585C6;
}

.timer {
    width: 100%;
    margin: 0 100px;
}

.guess {
    width: 100%;
    text-align: center;
    letter-spacing: 10px;
    position: absolute;
}

canvas {
    border: 5px solid #DDC2D3;
    display: block;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background: url("./assets/backgroud.png");
}