@font-face {
    font-family: 'Monogram';
    src: local('Nonogram'), url('./assets/monogram-extended.ttf') format('truetype')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #E08445;
    cursor: url("./assets/cursor.png"), auto;
}

.wrapper {
    width: 1290px;
    height: 730px;
}

.gui {
    width: 1290px;
    height: 150px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    font-family: 'Monogram', sans-serif;
    font-size: 32pt;
    color: #0585C6;
    text-shadow: 2px 2px #00000075;
}

.timer {
    width: 100%;
    margin: 0 100px 0 15px;
}

.timer-sprite {
    margin-left: 100px;
    filter: drop-shadow(2px 2px #00000075);
}

.guess {
    width: 100%;
    text-align: center;
    letter-spacing: 10px;
    position: absolute;
}

canvas {
    border: 5px solid #DDC2D3;
    display: block;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background: url("./assets/backgroud.png");
}

.floor {
    width: 1290px;
    height: 100px;
    margin-top: 630px;
    display: flex;
    position: absolute;
    align-items: center;
    background-image: url("./assets/floor-tile.png");
    background-repeat: repeat-x;
}

@keyframes moveBackAndForth {
    0%, 100% {
      transform: translateX(-15px);
    }
    50% {
      transform: translateX(30px);
    }
  }

.menu-wrapper, .game-over-screen {
    width: 1290px;
    height: 730px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.game-over-screen {
    flex-direction: column;
    visibility: hidden;
}

.game-over-msg {
    font-family: 'Monogram', sans-serif;
    font-size: 84pt;
    color: #0585C6;
    text-shadow: 5px 5px #0000008a;
    animation: moveBackAndForth 2s ease-in-out infinite;
}

.replay-btn {
    transform: scale(.6);
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    filter: drop-shadow(5px 5px 5px #0000008a);
    transition: .2s ease-in-out;
}

.replay-btn:hover {
    transform: scale(.7);
}

.menu {
    visibility: hidden;
    width: 789px;
    height: 435px;
    background-image: url("./assets/menu-bkg.png");
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
    padding: 25px;
}

.menu-btn {
    filter: drop-shadow(5px 5px 5px #0000008a);
    margin: 0 0 10px 10px;
    width: 48px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    transition: .2s ease-in-out;
}

.menu-btn:hover {
    transform: scale(1.1);
}

.menu-content {
    font-family: 'Monogram', sans-serif;
    font-size: 32pt;
    color: #ad5112;
    margin: 25px;
    padding: 25px;
    overflow: scroll;
}

.menu-word:hover {
    color: #e08445;
}