* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wrapper {
    width: 1280px;
    height: 720px;
}

.guess {
    position: absolute;
    margin-top: 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    letter-spacing: 10px;
}

canvas {
    border: 5px solid black;
    display: block;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background: url("./assets/backgroud.png");
}